In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("/Users/alejandropalacios/Desktop/Ironhack/Data Analytics Bootcamp/Advanced Data Analysis Techniques/Project/F1-Grand-Prix-Predictor/Data Manipulation/Modeling/final_df_complete.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13720 entries, 0 to 13719
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   season                             13720 non-null  int64
 1   round                              13720 non-null  int64
 2   circuit_id                         13720 non-null  object
 3   weather_warm                       13720 non-null  bool
 4   weather_cold                       13720 non-null  bool
 5   weather_dry                        13720 non-null  bool
 6   weather_wet                        13720 non-null  bool
 7   weather_cloudy                     13720 non-null  bool
 8   driver                             13720 non-null  object
 9   nationality                        13720 non-null  object
 10  constructor                        13720 non-null  object
 11  grid                               13720 non-null  int64
 12  podium                             13720 non-null  int64
 13  driver_points_after_race.1         13720 non-null  int64
 14  driver_wins_after_race.1           13720 non-null  int64
 15  driver_standings_pos_after_race.1  13720 non-null  int64
 16  driver_points                      13720 non-null  int64
 17  driver_wins                        13720 non-null  int64
 18  driver_standings_pos               13720 non-null  int64
 19  constructor_points                 13720 non-null  int64
 20  constructor_wins                   13720 non-null  int64
 21  constructor_standings_pos          13720 non-null  int64
 22  qualifying_time                    13720 non-null  float64
 23  driver_age                         13720 non-null  int64
 24  wins_percentage                    8304 non-null   float64
dtypes: bool(5), float64(2), int64(14), object(4)
memory usage: 2.2+ MB

In [3]:
# The goal of this exercise will be, for every Driver, to modelate 0s for repeated Teams after every Season and 1s for different Teams. Thus we will get a binary idea of how many times a Driver switched Teams between Seasons.

# Furthermore, we will do the exact same but for Teams, we will see how many times a Team switched Drivers between seasons. 

# Step one, pulverize the problem into various subsets of things. Let's only get the Drivers, their Season, and with which Constructor they drove. 

drivers = dataset.groupby('driver').apply(lambda a: a.drop('driver', axis=1)[:])
df = drivers.reset_index().drop(['level_1'], axis=1)

# Let's check Hamilton's career. Please note the fact that having duplicates does not mean we are going through a bad path, on the contrary, we need the duplicates to codify every row to a 0 or 1 value later.

df[df['driver'] == 'hamilton']

,driver,season,round,circuit_id,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,nationality,...,driver_standings_pos_after_race.1,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time,driver_age,wins_percentage
5264,hamilton,2007,1,albert_park,True,False,False,False,False,British,...,0,0,0,0,0,0,0,0.683,22,0.00
5265,hamilton,2007,2,sepang,False,False,False,False,False,British,...,3,0,0,0,14,0,11,1.002,22,0.00
5266,hamilton,2007,3,bahrain,False,False,False,False,False,British,...,3,6,0,3,32,1,11,0.283,22,0.00
5267,hamilton,2007,4,catalunya,True,False,False,False,False,British,...,3,14,0,3,44,1,11,0.364,22,0.00
5268,hamilton,2007,5,monaco,False,False,False,False,True,British,...,1,22,0,3,58,1,11,0.179,22,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,hamilton,2019,17,suzuka,True,False,False,False,False,British,...,1,296,8,1,571,11,1,0.238,34,0.00
5501,hamilton,2019,18,rodriguez,False,False,False,False,True,British,...,1,322,9,1,612,12,1,0.238,34,0.25
5502,hamilton,2019,19,americas,True,False,False,False,False,British,...,1,338,9,1,652,13,1,0.292,34,0.00
5503,hamilton,2019,20,interlagos,True,False,False,False,False,British,...,1,363,10,1,695,14,1,0.191,34,0.00
5504,hamilton,2019,21,yas_marina,True,False,False,False,False,British,...,1,381,10,1,701,14,1,0.000,34,0.20

In [4]:
# Now here's the trick, we will use a where clause to codify our data.

df['change_teams'] = np.where((df['driver'] == df['driver'].shift()) & (df['constructor'] == df['constructor'].shift()),0,1)

In [5]:
# Let's check Lewis career again. Sweet, we codified the thing already!

df[df['driver'] == 'albon']

,driver,season,round,circuit_id,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,nationality,...,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time,driver_age,wins_percentage,change_teams
42,albon,2019,1,albert_park,False,False,False,False,False,Thai,...,0,0,0,0,0,0,2.150,22,NaN,1
43,albon,2019,2,bahrain,True,False,False,False,False,Thai,...,0,0,0,1,0,8,1.647,23,NaN,0
44,albon,2019,4,BAK,False,False,False,False,False,Thai,...,2,0,11,4,0,9,1.999,23,NaN,0
45,albon,2019,5,catalunya,False,False,False,False,False,Thai,...,3,0,13,4,0,9,2.039,23,NaN,0
46,albon,2019,6,monaco,False,False,False,False,True,Thai,...,3,0,15,6,0,9,1.487,23,NaN,0
47,albon,2019,7,villeneuve,False,False,False,False,False,Thai,...,3,0,15,16,0,7,1.953,23,NaN,0
48,albon,2019,8,ricard,True,False,False,False,False,Thai,...,7,0,14,17,0,7,2.142,23,NaN,0
49,albon,2019,9,red_bull_ring,False,False,False,False,False,Thai,...,7,0,15,17,0,8,1.662,23,NaN,0
50,albon,2019,10,silverstone,False,False,False,False,True,Thai,...,7,0,15,17,0,8,1.252,23,NaN,0
51,albon,2019,11,hockenheimring,False,False,False,False,True,Thai,...,7,0,15,19,0,8,1.694,23,NaN,0
52,albon,2019,12,hungaroring,True,False,False,False,False,Thai,...,7,0,15,42,0,5,2.115,23,NaN,0
53,albon,2019,13,spa,False,False,False,False,True,Thai,...,15,0,15,244,2,3,3.280,23,NaN,1
54,albon,2019,15,marina_bay,False,False,False,False,False,Thai,...,26,0,10,266,2,3,1.194,23,NaN,0
55,albon,2019,17,suzuka,True,False,False,False,False,Thai,...,42,0,8,311,2,3,0.787,23,NaN,0
56,albon,2019,18,rodriguez,False,False,False,False,True,Thai,...,52,0,8,323,2,3,0.312,23,NaN,0
57,albon,2019,19,americas,True,False,False,False,False,Thai,...,64,0,8,341,2,3,0.519,23,NaN,0
58,albon,2019,20,interlagos,True,False,False,False,False,Thai,...,74,0,8,366,2,3,0.427,23,NaN,0
59,albon,2019,21,yas_marina,True,False,False,False,False,Thai,...,84,0,6,391,3,3,0.903,23,NaN,0

In [6]:
team_change_dataset = df.sort_values(by=['season','driver'])

In [8]:
team_change_dataset.head(50)

,driver,season,round,circuit_id,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,nationality,...,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,qualifying_time,driver_age,wins_percentage,change_teams
0,acheson,1983,15,kyalami,False,False,True,False,False,British,...,0,0,0,0,0,16,6.798,25,0.000000,1
60,alboreto,1983,1,jacarepagua,False,False,True,False,False,Italian,...,0,0,0,0,0,0,1.619,26,NaN,1
61,alboreto,1983,2,long_beach,True,False,False,False,False,Italian,...,0,0,0,0,0,8,2.308,26,NaN,0
62,alboreto,1983,3,ricard,False,False,False,False,True,Italian,...,0,0,24,0,0,9,5.505,26,NaN,0
63,alboreto,1983,4,imola,False,False,False,False,False,Italian,...,0,0,13,0,0,9,4.287,26,0.000000,0
64,alboreto,1983,5,monaco,False,False,False,True,False,Italian,...,0,0,13,0,0,9,3.416,26,0.000000,0
65,alboreto,1983,6,spa,False,False,False,False,False,Italian,...,0,0,14,2,0,7,5.124,26,NaN,0
66,alboreto,1983,7,detroit,True,False,False,False,False,Italian,...,0,0,16,2,0,7,2.279,26,1.000000,0
67,alboreto,1983,8,villeneuve,True,False,False,False,False,Italian,...,0,0,17,11,1,6,4.446,26,0.000000,0
68,alboreto,1983,9,silverstone,False,False,False,False,False,Italian,...,9,1,8,11,1,6,5.189,26,NaN,0
69,alboreto,1983,10,hockenheimring,False,False,True,False,False,Italian,...,9,1,10,11,1,6,7.070,26,NaN,0
70,alboreto,1983,11,osterreichring,False,False,True,False,False,Italian,...,9,1,10,11,1,6,6.208,26,NaN,0
71,alboreto,1983,12,zandvoort,False,False,False,False,True,Italian,...,9,1,10,11,1,6,4.519,26,NaN,0
72,alboreto,1983,13,monza,False,False,True,False,False,Italian,...,9,1,10,12,1,6,7.666,26,NaN,0
73,alboreto,1983,14,brands_hatch,False,False,True,False,False,Italian,...,10,1,10,12,1,6,5.364,26,NaN,0
74,alboreto,1983,15,kyalami,False,False,True,False,False,Italian,...,10,1,10,12,1,6,4.542,26,0.000000,0
883,angelis,1983,2,long_beach,True,False,False,False,False,Italian,...,0,0,0,0,0,9,1.865,25,NaN,1
884,angelis,1983,3,ricard,False,False,False,False,True,Italian,...,0,0,0,0,0,11,2.640,25,NaN,0
885,angelis,1983,4,imola,False,False,False,False,False,Italian,...,0,0,23,0,0,11,3.094,25,0.000000,0
886,angelis,1983,5,monaco,False,False,False,True,False,Italian,...,0,0,27,0,0,13,4.678,25,0.000000,0
887,angelis,1983,6,spa,False,False,False,False,False,Italian,...,0,0,26,0,0,13,4.695,25,NaN,0
888,angelis,1983,7,detroit,True,False,False,False,False,Italian,...,0,0,25,0,0,12,1.524,25,0.000000,0
889,angelis,1983,8,villeneuve,True,False,False,False,False,Italian,...,0,0,19,1,0,8,3.093,25,0.000000,0
890,angelis,1983,9,silverstone,False,False,False,False,False,Italian,...,0,0,21,1,0,8,1.309,25,NaN,0
891,angelis,1983,10,hockenheimring,False,False,True,False,False,Italian,...,0,0,22,4,0,7,5.503,25,NaN,0
892,angelis,1983,11,osterreichring,False,False,True,False,False,Italian,...,0,0,24,4,0,8,2.580,25,NaN,0
893,angelis,1983,12,zandvoort,False,False,False,False,True,Italian,...,0,0,25,6,0,8,0.781,25,NaN,0
894,angelis,1983,13,monza,False,False,True,False,False,Italian,...,0,0,25,6,0,8,2.506,25,NaN,0
895,angelis,1983,14,brands_hatch,False,False,True,False,False,Italian,...,0,0,26,8,0,8,0.000,25,NaN,0
896,angelis,1983,15,kyalami,False,False,True,False,False,Italian,...,2,0,18,12,0,8,1.383,25,0.000000,0
933,arnoux,1983,1,jacarepagua,False,False,True,False,False,French,...,0,0,0,0,0,0,0.875,34,0.000000,1
934,arnoux,1983,2,long_beach,True,False,False,False,False,French,...,0,0,0,2,0,4,0.818,34,NaN,0
935,arnoux,1983,3,ricard,False,False,False,False,True,French,...,0,0,9,6,0,3,2.443,34,0.000000,0
936,arnoux,1983,4,imola,False,False,False,False,False,French,...,4,0,5,9,0,4,0.000,34,0.000000,0
937,arnoux,1983,5,monaco,False,False,False,True,False,French,...,4,0,7,22,1,1,0.342,34,0.000000,0
938,arnoux,1983,6,spa,False,False,False,False,False,French,...,8,0,6,25,1,1,1.122,34,0.000000,0
939,arnoux,1983,7,detroit,True,False,False,False,False,French,...,8,0,7,31,1,2,0.000,34,NaN,0
940,arnoux,1983,8,villeneuve,True,False,False,False,False,French,...,8,0,7,31,1,3,0.000,34,0.333333,0
941,arnoux,1983,9,silverstone,False,False,False,False,False,French,...,8,0,9,44,2,2,0.000,35,0.000000,0
942,arnoux,1983,10,hockenheimring,False,False,True,False,False,French,...,17,1,5,50,2,2,0.107,35,0.333333,0
943,arnoux,1983,11,osterreichring,False,False,True,False,False,French,...,19,1,5,59,3,1,0.064,35,0.000000,0
944,arnoux,1983,12,zandvoort,False,False,False,False,True,French,...,28,2,4,65,3,2,1.767,35,0.500000,0
945,arnoux,1983,13,monza,False,False,True,False,False,French,...,34,2,3,80,4,1,0.779,35,0.000000,0
946,arnoux,1983,14,brands_hatch,False,False,True,False,False,French,...,43,3,2,89,4,1,1.021,35,NaN,0
947,arnoux,1983,15,kyalami,False,False,True,False,False,French,...,49,3,2,89,4,1,0.551,35,0.000000,0
1068,baldi,1983,1,jacarepagua,False,False,True,False,False,Italian,...,0,0,0,0,0,0,1.454,29,NaN,1
1069,baldi,1983,2,long_beach,True,False,False,False,False,Italian,...,0,0,0,0,0,14,3.953,29,NaN,0
1070,baldi,1983,3,ricard,False,False,False,False,True,Italian,...,0,0,19,0,0,14,2.946,29,NaN,0
1071,baldi,1983,4,imola,False,False,False,False,False,Italian,...,0,0,26,0,0,12,3.762,29,0.000000,0
1072,baldi,1983,5,monaco,False,False,False,True,False,Italian,...,0,0,28,0,0,11,3.799,29,0.000000,0

In [7]:
team_change_dataset.to_csv(r'/Users/alejandropalacios/Desktop/Ironhack/Data Analytics Bootcamp/Advanced Data Analysis Techniques/Project/F1-Grand-Prix-Predictor/Data Manipulation/Modeling/team_change_dataset.csv', index = False)