In [1]:
import pandas as pd
import numpy as np

In [2]:
results = pd.read_csv('/Users/alejandropalacios/Desktop/Ironhack/Data Analytics Bootcamp/Advanced Data Analysis Techniques/Project/F1-Grand-Prix-Predictor/Data Collection/results.csv')

In [3]:
results.head()

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium
0,1950,1,silverstone,farina,1906-10-30,Italian,alfa,1,8003600.0,Finished,9.0,1
1,1950,1,silverstone,fagioli,1898-06-09,Italian,alfa,2,8006200.0,Finished,6.0,2
2,1950,1,silverstone,reg_parnell,1911-07-02,British,alfa,4,8055600.0,Finished,4.0,3
3,1950,1,silverstone,cabantous,1904-10-08,French,lago,6,NaN,+2 Laps,3.0,4
4,1950,1,silverstone,rosier,1905-11-05,French,lago,9,NaN,+2 Laps,2.0,5

In [26]:
Q1_P1 = results.groupby(['season', 'circuit_id'])[['grid', 'podium']].corr().iloc[0::2,-1].sort_values(ascending=False)

Q1_P1_df = pd.DataFrame(Q1_P1).reset_index()

Q1_P1_df

      season      circuit_id level_2    podium
0       2012     hungaroring    grid  0.937391
1       2007     hungaroring    grid  0.922078
2       1958        boavista    grid  0.921429
3       2010         bahrain    grid  0.914783
4       2010  hockenheimring    grid  0.903478
...      ...             ...     ...       ...
1013    1963           monza    grid -0.541563
1014    1962             spa    grid -0.557500
1015    1970          jarama    grid -0.583853
1016    1981          monaco    grid -0.608286
1017    1958          monaco    grid -0.721949

[1018 rows x 4 columns]

In [27]:

Q1_P1_df.to_csv('/Users/alejandropalacios/Desktop/Ironhack/Data Analytics Bootcamp/Advanced Data Analysis Techniques/Project/F1-Grand-Prix-Predictor/Data Manipulation/Visualization/Q1_P1.csv', index= False)